<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h2 class="p-3">City</h2>
    <div class="list-group">
      <div class="row px-3 py-1 w-100">
        <span class="col py-1 bg-info">City name:</span>
        <span class="col py-1 bg-info">Country:</span>
      </div>
    <% cities.forEach(function(city) { %>
        <div class="row px-3 py-1 w-100">
          <span class="col py-1 bg-light"><%=city.Name%></span>
          <span class="col py-1 bg-light"><%=city.Country%></span>
        </div>
      <% }); %>
    </div>
  </body>
</html>
